<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "FAQ", '#' %></li>
      <li><%= link_to "Security Principle", '#' %></li>     
    </ul>
    Copyright 2011 : TH Team
  </nav>
</footer>
